<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"></properties>

    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>


    <typeAliases>
        <typeAlias type="com.qfedu.pojo.Member" alias="Member"/>
        <typeAlias type="com.qfedu.pojo.Clazz" alias="Clazz"/>
        <typeAlias type="com.qfedu.pojo.Student" alias="Student"/>
    </typeAliases>

    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>

            <!--   POOLED 使用MyBatis内置的连接池实现   -->
            <!--  mybatis需要一个连接池工厂，这个工厂可以产生数据库连接池  PooledDataSourceFactory -->
            <dataSource type="com.qfedu.utils.DruidDataSourceFactory">
                <property name="driverClass" value="${driver}"/>
                <property name="jdbcUrl" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/MemberMapper.xml"></mapper>
        <mapper resource="mappers/StudentMapper.xml"></mapper>
        <mapper resource="mappers/ClassMapper.xml"></mapper>
    </mappers>

</configuration>