<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!--properties标签：1.可以定义键值对  2.可以引用属性文件-->
    <properties resource="jdbc.properties"></properties>

    <!--设置mybatis的属性-->
    <settings>
        <!-- 启动二级缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!-- 启动延迟加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

    <!--typeAliases标签用于给实体类取别名，在映射文件中可以直接使用别名来替代实体类的全限定名-->
    <typeAliases>
        <typeAlias type="com.qfedu.pojo.Student" alias="Student"></typeAlias>
        <typeAlias type="com.qfedu.pojo.Book" alias="Book"></typeAlias>
    </typeAliases>

    <!--plugins标签，用于配置MyBatis插件（分页插件）-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>


    <!-- 在environments配置数据库连接信息 -->
    <!-- 在environments标签中可以定义多个environment标签，每个environment标签可以定义一套连接配置 -->
    <!-- default属性，用来指定使用哪个environment标签 -->
    <environments default="mysql">

        <!--  environment 标签用于配置数据库连接信息  -->
        <environment id="mysql">

            <!--transactionManager标签用于配置数据库管理方式
            type="JDBC"  可以进行事务的提交和回滚操作
            type="MANAGED" 依赖容器完成事务管理，本身不进行事务的提交和回滚操作 -->
            <transactionManager type="JDBC"></transactionManager>

            <!--dataSource标签就是用来配置数据库连接信息 POOLED|UNPOOLED -->
            <dataSource type="POOLED">
                <property name="driver" value="${mysql_driver}"/>
                <property name="url" value="${mysql_url}"/>
                <property name="username" value="${mysql_username}"/>
                <property name="password" value="${mysql_password}"/>
            </dataSource>
        </environment>

    </environments>

    <!--mappers标签用于载入映射文件-->
    <mappers>
        <mapper resource="mappers/StudentMapper.xml"></mapper>
    </mappers>

</configuration>
