<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.UserDAO">

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert into users(user_name,user_pwd,user_realname,user_img)
        values(#{userName},#{userPwd},#{userRealname},#{userImg})
    </insert>

    <resultMap id="userMap" type="User">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_pwd" property="userPwd"/>
        <result column="user_realname" property="userRealname"/>
        <result column="user_img" property="userImg"/>
        <!--association 调用子查询，关联查询一个对象-->
        <association property="detail" select="com.qfedu.dao.DetailDAO.queryDetailByUid" column="user_id"/>
    </resultMap>

    <select id="queryUser" resultMap="userMap">
        select user_id,user_name,user_pwd,user_realname,user_img
        from users
        where user_name=#{username}
    </select>

</mapper>